<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dj.hotel.mapper.ReconditeMapper">

    <insert id="insertRecondite">
        insert into recondite
 		(
        user_id,
        start_time,
        home_id,
        eat_status,
        end_time
 		)
 		values
 		(#{userId}, #{startTime}, #{homeId}, #{eatStatus}, #{endTime})
    </insert>
</mapper>