<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dj.hotel.mapper.TrackMapper">

    <!-- 轨迹表新增 -->
    <insert id="addTrack" useGeneratedKeys="true" keyProperty="id">
        insert into track (
                            menu_id,
                            menu_num,
                            menu_price,
                            menu_confirm
                            )
			values
		(#{menuId}, #{menuNum}, #{menuPrice}, #{menuConfirm})
    </insert>
</mapper>