<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dj.hotel.mapper.TrackMapper">

    <sql id="TRACK_COLUMN">
        id,
        menu_id,
        menu_num,
        menu_price,
        user_id,
        menu_confirm
    </sql>

    <sql id="TRACK_AS">
        t.id,
        t.menu_id,
        t.menu_num,
        t.menu_price,
        t.user_id,
        t.menu_confirm
    </sql>

    <!-- 轨迹表新增 -->
    <insert id="addTrack" useGeneratedKeys="true" keyProperty="id">
        insert into track (
                            user_id,
                            menu_id,
                            menu_num,
                            menu_price,
                            menu_confirm
                            )
			values
		(#{userId}, #{menuId}, #{menuNum}, #{menuPrice}, #{menuConfirm})
    </insert>

    <!-- 查看自己点餐信息 -->
    <select id="findTrackByAll" resultType="com.dj.hotel.pojo.Track">
      SELECT
            <include refid="TRACK_AS"/>, m.menu_name AS menu_name_show,
            u.user_name AS user_name_show
        FROM
            track t
        LEFT JOIN menu m ON t.menu_id = m.id
        LEFT JOIN `user` u ON t.user_id = u.id
        WHERE
            t.user_id = #{user.id}
    </select>

    <select id="priceSum" resultType="java.math.BigDecimal">
        SELECT SUM(menu_price) FROM track;
    </select>
</mapper>