<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.hotel.mapper.UserMapper">

	<sql id="USER_COLUMN">
		id,
		user_name,
		user_pwd,
		user_email,
		user_phone,
		user_level,
		is_del
	</sql>

</mapper>